.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #ffffff;
    color: #686868;
    border-bottom:4px solid linear-gradient(to right, #ccc, #095484, #ccc);
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: #686868;
    text-decoration: none;
    border-bottom:4px solid linear-gradient(to right, #ccc, #095484, #ccc);
}

.headerLogo {
    height: 80px;
}

.headerTitle {
    margin-left: 12px;
    font-weight: 600;
}

.headerNavList {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.headerNavPageLink {
    color: #686868;
    text-decoration: none;
    opacity: 0.75;

    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity;
}

.headerNavPageLink:hover {
    opacity: 1;
}

.headerNavPageLinkActive {
    color: #686868;
    text-decoration: none;
}

.headerNavLeftMargin {
    margin-left: 20px;
}

.headerRightText {
    font-weight: normal;
}

.microsoftLogo {
    height: 23px;
    font-weight: 600;
}

.githubLogo {
    height: 80px;
}
